block pageTitle
    title #{appConfig.app.name} #{appConfig.app.version}
block content
    .table-toolbar
        if data && data.length
            form#frmUser(name='frmUser', method='POST', action='')
                //div تعداد کل نتایج : #{allDataCount}
                table#example.table.table-bordered.table-hover
                    thead
                        tr
                            th.text-left ردیف
                            th.text-left شناسه
                            th.text-left نام و نام خانوادگی
                            th.text-left شماره موبایل
                            th.text-left تعداد سفر
                            th.text-left تعداد لغو سفر
                            th.text-left لایک ها
                            th.text-left دیسلایک ها
                            th.text-left وضعیت



                    tbody
                        each row, index in data
                            tr.odd.gradeX
                                td.text-left #{index + 1}
                                td.text-left #{row.id}
                                td.text-left
                                    a(href='/backend/passengers/profile/#{row.id}')
                                        | #{row.full_name || "-"}
                                td.text-left
                                    | #{row.mobile || "-"}
                                td.text-left
                                    | #{row.sum_trip_counts}
                                td.text-left
                                    |  #{row.sum_trip_canceled}
                                td.text-left
                                    | #{row.like_count}
                                td.text-left
                                    | #{row.dislike_count}
                                td.text-left
                                    a.menu-sub.target(href="javascript:;" id="#{row.id}" state="#{row.situation_id}")
                                        if row.situation_id == 1
                                            input.mine(type='checkbox',checked='checked', data-on-color='success', data-on-text='فعال', data-off-color='danger', data-off-text='غیر فعال', data-size='normal', name='my-checkbox')
                                        else
                                            input.mine(type='checkbox', data-on-color='success', data-on-text='فعال', data-off-color='danger', data-off-text='غیر فعال', data-size='normal', name='my-checkbox')
                //ul(class="pagination")
                //    li(class="paginate_button previous" aria-controls="sample_3" tabindex="0" id="sample_3_previous")
                //        a.paging(href="javascript:;" id="#{pageParams.target - 1}") قبلی
                //
                //        - for (var i = pageParams.start ; i <= pageParams.end ; i++) {
                //
                //        if i == pageParams.target
                //            li(class="paginate_button active " aria-controls="sample_3" tabindex="0")
                //                a.paging(href="javascript:;" id="#{i}") #{i}
                //        else
                //            li(class="paginate_button  " aria-controls="sample_3" tabindex="0")
                //                a.paging(href="javascript:;" id="#{i}") #{i}
                //
                //
                //        -}
                //
                //    li(class="paginate_button next" aria-controls="sample_3" tabindex="0" id="sample_3_next")
                //        a.paging(href="javascript:;" id="#{pageParams.target + 1}") بعدی
        else
            h1 هنوز رکوردی تعریف نگردیده است

script.
    jQuery(document).ready(function () {
        setTimeout(function () {
            $(".mine").each(function () {
                $(this).bootstrapSwitch();
            })
        }, 100)
        var theForm = $("#frmUser");
        $("a.paging").on('click', function (ev) {
            Pace.restart()
            $("#saveBtn").prop('disabled', true);
            var id = $(this).attr('id')
            var formData = theForm.serializeJSON();
            $.post('/backend/search/passengers/' + id, formData, function (data) {
                console.log("data", data)
                $("#saveBtn").prop('disabled', false);
                $('.question_content').html(data);
            })
        })
        $(".target").on('click', function (event) {
            event.preventDefault()
            var state = $(this).attr('state')
            console.log("state", state)
            var id = $(this).attr('id')
            var newState = (state == '1' ? '2' : '1')
            $(this).attr('state', newState)
            $.post("/backend/change_state/User/" + id, {newState: newState}, function (data) {
                console.log("data", data)
            })
        })

        $('#example2').dataTable({
            paginate: true,
            "pagingType": "full_numbers",
            "language": {
                "paginate": {
                    "first": "<span class='fa fa-angle-double-right'></span>",
                    "last": "<span class='fa fa-angle-double-left'></span>",
                    "previous": "<span class='fa fa-angle-right'></span>",
                    "next": "<span class='fa fa-angle-left'></span>"
                }
            },
            "order": [0, "desc"],
            "info": false,
            "bFilter": false,
            "bSort": false
        });
    });