extends ../layout
block pageTitle
    title #{appConfig.app.name} #{appConfig.app.version}
block content
    // BEGIN CONTENT
    .page-content-wrapper
        .page-content
            // BEGIN PAGE HEADER
            .row
                .col-md-12
                    // BEGIN PAGE TITLE & BREADCRUMB
                    h3
                        | جزییات سفر
                    ul.page-breadcrumb.breadcrumb
                        li
                            i.fa.fa-home
                            a(href='/backend/dashboard') &nbsp; صفحه اصلی
                            i.fa.fa-angle-left
                        li
                            a(href='javascript:;') مدیریت سفرها
                            i.fa.fa-angle-left
                        li
                            a(href='/backend/trips/profile/#{profile.id}') جزییات سفر
                    // END PAGE TITLE & BREADCRUMB
            // END PAGE HEADER
            // BEGIN DASHBOARD STATS
            .row
                .col-md-12
                    // BEGIN EXAMPLE TABLE PORTLET
                    .portlet.box.blue-chambray
                        .portlet-title
                            .caption
                                |  جزییات سفر
                            .tools
                                a.collapse(href='javascript:;')
                                a.config(href='#portlet-config', data-toggle='modal')
                                a.reload(href='javascript:;')
                                a.remove(href='javascript:;')
                        .portlet-body.form
                            // BEGIN FORM
                            form#frmUser.horizontal-form(name='frmUser', method='POST', action='')
                                .form-body
                                    .row
                                        .col-md-4
                                            .form-group
                                                label زمان ثبت درخواست
                                                br
                                                input.form-control.text-left(type='text', data-req="true",value="#{profile.request_time || '-'}",style="font-size:18px" disabled)
                                        .col-md-4
                                            .form-group
                                                label زمان شروع سفر
                                                br
                                                input.form-control.text-left.g2j2(type='text', data-req="true",value="#{profile.start_time || '-'}",style="font-size:18px" disabled)
                                        .col-md-4
                                            .form-group
                                                label زمان پایان سفر
                                                br
                                                input.form-control.text-left(type='text', data-req="true",value="#{profile.end_time || '-'}",style="font-size:18px" disabled)
                                        .col-md-4
                                            .form-group
                                                label راننده
                                                br
                                                a(href='/backend/verified_drivers/profile?id=#{profile.driver_user_id}')
                                                  span.form-control.text-center(class="state") #{profile.first_name} #{profile.last_name}
                                        .col-md-4
                                            .form-group
                                                label مسافر
                                                br
                                                a(href='/backend/passengers/profile/#{profile.passenger_user_id}')
                                                  span.form-control.text-center(class="state") #{profile.full_name}
                                        .col-md-4
                                            .form-group
                                                label کد سفر
                                                br
                                                input.form-control.text-center(class="state"  value="#{profile.trip_code || '-'}"  disabled)
                                        .col-md-4
                                            .form-group
                                                label دقیقه سفر
                                                br
                                                input.form-control.text-center(class="state"  value="#{profile.total_time || '-'}"  disabled)

                                        .col-md-4
                                            .form-group
                                                label کیلومتر سفر
                                                br
                                                input.form-control.text-center(class="state"  value="#{profile.total_distance || '-'}"  disabled)
                                        .col-md-4
                                            .form-group
                                                label کد تخفیف استفاده شده
                                                br
                                                input.form-control.text-center(class="state"  value="#{profile.discount_code || '-'}"  disabled)
                                        .col-md-4
                                            .form-group
                                                label هزینه اصلی
                                                br
                                                input.form-control.text-center(class="state"  value="#{profile.main_price || '-'}"  disabled)
                                        .col-md-4
                                            .form-group
                                                label هزینه با احتساب تخفیف
                                                br
                                                input.form-control.text-center(class="state"  value="#{profile.net_price || '-'}"  disabled)
                                        .col-md-4
                                            .form-group
                                                label سهم راننده
                                                br
                                                input.form-control.text-center(class="state"  value="#{profile.driver_slice || '-'}"  disabled)
                                        .col-md-4
                                            .form-group
                                                label سهم هوبر
                                                br
                                                input.form-control.text-center(class="state"  value="#{profile.system_slice || '-'}"  disabled)
                                        .col-md-4
                                            .form-group
                                                label نوع پرداخت
                                                br
                                                input.form-control.text-center(class="state"  value="#{profile.method_name || '-'}"  disabled)
                                        .col-md-4
                                            .form-group
                                                label شرح پرداخت
                                                br
                                                input.form-control.text-center(class="state"  value="#{profile.payment_name || '-'}"  disabled)
                                        .col-md-6
                                            .form-group
                                                label مکان اولیه راننده
                                                br
                                                textarea.form-control.text-left(style="font-size:18px" disabled rows="3") #{profile.driver_place_label || '-'}
                                        .col-md-6
                                            .form-group
                                                label مبدا سفر
                                                br
                                                textarea.form-control.text-left(style="font-size:18px" disabled rows="3") #{profile.trip_source_label || '-'}
                                        .col-md-6
                                            .form-group
                                                label مقصد سفر
                                                br
                                                textarea.form-control.text-left(style="font-size:18px" disabled rows="3") #{profile.destinations ? (profile.destinations.split(',')[0] || '-') : '-'}
                                        .col-md-6
                                            .form-group
                                                label مقصد دوم
                                                br
                                                textarea.form-control.text-left(style="font-size:18px" disabled rows="3") #{profile.destinations ? (profile.destinations.split(',')[1] || '-') : '-'}
                                    .row
                                        .col-md-4
                                            a.btn.green(href='javascript:history.back()')
                                                i.fa.fa-times
                                                | &nbsp; بازگشت
// END CONTENT
block cssHeader
    link(rel="stylesheet" type="text/css" href="/metronic_rtl/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")
    link(rel="stylesheet" type="text/css" href="/javascripts/persianDatepicker/css/persianDatepicker-default.css")

block jsHeader
    // BEGIN PAGE LEVEL PLUGINS
    script(type="text/javascript" src="/javascripts/persianDatepicker/js/persianDatepicker.min.js")
    script(type="text/javascript" src="/metronic_rtl/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js")


    // END PAGE LEVEL PLUGINS
    // BEGIN PAGE LEVEL SCRIPTS

    script.
        jQuery(document).ready(function() {
            $('.g2j').each(function (i, el) {
                $(el).html(g2j($(el).html()));
            });

            $('.itIsDatePicker').persianDatepicker({
                formatDate: "YYYY/MM/DD",
                fontSize: 12,
                selectedBefore: false
            });

            $("#decline").on('click',function(event){
                event.preventDefault()
                $("#myModal").modal();
                var id = $(this).attr('driver_id');
                $("#yes").on('click', function (ev) {
                    ev.preventDefault()
                    $("#yes").prop('disabled', true);
                    $.post("/backend/change_state/User/" + id, {newState: 4}, function (data) {
                        console.log("data", data)
                        window.location = '/backend/passengers';
                    })
                })
            })
            $("#accept").on('click', function (event) {
                event.preventDefault();
                var id=$(this).attr('driver_id')
                window.location='/backend/passengers/set_meeting/'+id
            })
            $("#setMeeting").on('click', function (event) {
                event.preventDefault();
                $("#myModal2").modal('toggle');
                $("#confirm").on('click',function(event){
                    event.preventDefault()
                    var date=$("#visit_date").val();
                    var id=$(this).attr('driver_id');
                    $.post('/backend/passengers/set_meeting/'+id,{date:date},function(data){
                        console.log("date",date)
                        $("#myModal2").modal('toggle');
                        frmShowSuccess({'ALL':"قرار حضوری با موفقیت ثبت شد"})
                    })
                })
            })
        });