extends ../layout
block pageTitle
    title #{appConfig.app.name} #{appConfig.app.version}
block content
    // BEGIN CONTENT
    .page-content-wrapper
        .page-content


            // BEGIN PAGE HEADER
            .row
                .col-md-12
                    // BEGIN PAGE TITLE & BREADCRUMB
                    h3
                        | مدیریت مالی مسافران
                    ul.page-breadcrumb.breadcrumb
                        li
                            i.fa.fa-home
                            a(href='/backend/dashboard') &nbsp; صفحه اصلی
                            i.fa.fa-angle-left
                        li
                            a(href='javascript:;') مدیریت مالی مسافران
                    // END PAGE TITLE & BREADCRUMB
            // END PAGE HEADER



            // BEGIN DASHBOARD STATS
            .row
                .col-md-12
                    // BEGIN EXAMPLE TABLE PORTLET
                    .portlet.box.blue-chambray.tasks-widget
                        .portlet-title
                            .tools
                                a.collapse(href='javascript:;')
                                a.config(href='#portlet-config', data-toggle='modal')
                                a.reload(href='javascript:;')
                                a.remove(href='javascript:;')
                        .portlet-body
                            .task-content
                                .table-toolbar
                                    form#frmUser(name='frmUser', method='POST', action='')
                                        .row
                                            .col-md-4
                                                .form-group
                                                    input#mobile.form-control.input-large.text-left(name='driver_name' placeholder="نام و نام خانوادگی" style="font-size:12px")
                                            .col-md-4
                                                .form-group
                                                    input.form-control.input-large.text-left(name='start_balance' placeholder="از موجودی" style="font-size:12px")
                                            .col-md-4
                                                .form-group
                                                    input.form-control.input-large.text-left(name='end_balance' placeholder="تا موجودی" style="font-size:12px")
                                        .row
                                            .col-md-2
                                                .form-group
                                                    input(type="submit" value="جستجو" class="btn btn-large green " id="saveBtn")
                                            .col-md-2
                                                .form-group
                                                    input(type="submit" value="خروجی اکسل" class="btn btn-large green " id="excel")


                                .question_content(style='margin-top:60px')
                                    if data && data.length
                                        form#frmUser(name='frmUser', method='POST', action='')
                                            //div تعداد کل نتایج : #{allDataCount}
                                            table#example.table.table-bordered.table-hover
                                                thead
                                                    tr
                                                        th.text-left ردیف
                                                        th.text-left شناسه
                                                        th.text-left مسافر
                                                        th.text-left میزان اعتبار فعلی
                                                        th.text-left عملیات
                                                tbody
                                                    each row, index in data
                                                        tr.odd.gradeX
                                                            td.text-left #{index+1}
                                                            td.text-left #{row.id}
                                                            td.text-left
                                                                a(href='/backend/passengers/profile/#{row.id}')
                                                                    | #{row.full_name || '-'}
                                                            td.text-left(dir='ltr')
                                                                | #{row.balance}
                                                            td.text-left
                                                                a(href='/backend/financial_passengers/payment_report/#{row.id}')
                                                                    | مشاهده جزییات

                                            //ul(class="pagination")
                                            //    li(class="paginate_button previous" aria-controls="sample_3" tabindex="0" id="sample_3_previous")
                                            //        a.paging(href="javascript:;" id="#{pageParams.target - 1}") قبلی
                                            //
                                            //        - for (var i = pageParams.start ; i <= pageParams.end ; i++) {
                                            //
                                            //        if i == pageParams.target
                                            //            li(class="paginate_button active " aria-controls="sample_3" tabindex="0")
                                            //                a.paging(href="javascript:;" id="#{i}") #{i}
                                            //        else
                                            //            li(class="paginate_button  " aria-controls="sample_3" tabindex="0")
                                            //                a.paging(href="javascript:;" id="#{i}") #{i}
                                            //
                                            //
                                            //        -}
                                            //
                                            //    li(class="paginate_button next" aria-controls="sample_3" tabindex="0" id="sample_3_next")
                                            //        a.paging(href="javascript:;" id="#{pageParams.target + 1}") بعدی
                                    else
                                        h1 هنوز رکوردی تعریف نگردیده است


    // END CONTENT
block cssHeader
    link(href="/metronic_rtl/assets/global/plugins/select2/select2-rtl.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet" type="text/css" href="/metronic_rtl/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap-rtl.css")
    link(href="/metronic_rtl/assets/admin/pages/css/tasks-rtl-table.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet" type="text/css" href="/javascripts/persianDatepicker/css/persianDatepicker-default.css")

block append jsHeader
    // BEGIN PAGE LEVEL PLUGINS
    script(type="text/javascript" src="/javascripts/persianDatepicker/js/persianDatepicker.min.js")
    script(type='text/javascript', src='/metronic_rtl/assets/global/plugins/select2/select2.min.js')
    script(type='text/javascript', src='/metronic_rtl/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='/metronic_rtl/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')
    // END PAGE LEVEL PLUGINS

    // BEGIN PAGE LEVEL SCRIPTS 
    script(src='/metronic_rtl/assets/admin/pages/scripts/table-managed.js')
    script(type='text/javascript', src='/metronic_rtl/assets/admin/pages/scripts/tasks-table.js')

    script.
        jQuery(document).ready(function () {
            var theForm = $("#frmUser");
            $('#saveBtn').on('click', function (event) {
                Pace.restart()
                event.preventDefault();
                $("#saveBtn").prop('disabled', true);
                var formData = theForm.serializeJSON();
                $.post('/backend/search/financial_passengers/1', formData, function (data) {
                    $('.question_content').html(data);
                })
                $(document).ajaxStop(function () {
                    $("#saveBtn").prop('disabled', false);
                });
            });
            $("a.paging").on('click', function (ev) {
                Pace.restart()
                $("#saveBtn").prop('disabled', true);
                var id = $(this).attr('id')
                var formData = theForm.serializeJSON();
                $.post('/backend/search/financial_passengers/' + id, formData, function (data) {
                    console.log("data", data)
                    $("#saveBtn").prop('disabled', false);
                    $('.question_content').html(data);
                })
            })
            $("#excel").click(function (e) {
                e.preventDefault();
                notyfy({
                    force: true,
                    timeout: true,
                    text: "در حال بارگذاری فایل",
                    type: 'success',
                    layout: 'top',
                    closeWith: ['click']
                });
                var theForm = $("#frmUser");
                var formData = theForm.serializeJSON();
                $.post('/backend/financial_passengers/excel', formData, function (data) {
                    $("#saveBtn").prop('disabled', false);
                    window.location = data
                    $.notyfy.closeAll()
                })
            })
            $('#example').dataTable({
                paginate: true,
                "pagingType": "full_numbers",
                "language": {
                    "paginate": {
                        "first": "<span class='fa fa-angle-double-right'></span>",
                        "last": "<span class='fa fa-angle-double-left'></span>",
                        "previous": "<span class='fa fa-angle-right'></span>",
                        "next": "<span class='fa fa-angle-left'></span>"
                    }
                },
                "order": [1, "asc"],
                "info": false,
                bFilter: false
            });
        });

