if data && data.length
    form#frmUser(name='frmUser', method='POST', action='')
        input#user(type='hidden' value="#{data[0].user_id}")
        table#example2.table.table-bordered.table-hover
            thead
                tr
                    th.text-left
                        | ردیف
                    th.text-left
                        | تاریخ
                    th.text-left
                        | مبلغ
                    th.text-left
                        | نوع پرداخت
                    th.text-left
                        | شرح
                    th.text-left
                        | کد سفر



            tbody
                each row, index in data
                    tr.odd.gradeX
                        td.text-left
                            | #{row.id}
                        td.text-left(dir='ltr')
                            if row.createdAt
                                span.g2j2 #{row.createdAt}
                            else
                                span -
                        td.text-left(dir='ltr')
                            | #{row.amount}
                        td.text-left(dir='ltr')
                            | #{row.payment_method}
                        td.text-left(dir='ltr')
                            | #{row.payment_name}
                        td.text-left
                            if row.trip_code
                                a(href='/backend/trips/profile/#{row.trip_id}')
                                    | #{row.trip_code}
                            else
                                | -

        ul(class="pagination")
            li(class="paginate_button previous" aria-controls="sample_3" tabindex="0" id="sample_3_previous")
                a.paging(href="javascript:;" id="#{pageParams.target - 1}") قبلی

                - for (var i = pageParams.start ; i <= pageParams.end ; i++) {

                if i == pageParams.target
                    li(class="paginate_button active " aria-controls="sample_3" tabindex="0")
                        a.paging(href="javascript:;" id="#{i}") #{i}
                else
                    li(class="paginate_button  " aria-controls="sample_3" tabindex="0")
                        a.paging(href="javascript:;" id="#{i}") #{i}


                -}

            li(class="paginate_button next" aria-controls="sample_3" tabindex="0" id="sample_3_next")
                a.paging(href="javascript:;" id="#{pageParams.target + 1}") بعدی
else
    h1 هنوز رکوردی تعریف نگردیده است
script.
    jQuery(document).ready(function() {
        $('.g2j2').each(function (i, el) {
            $(el).html(g2j2($(el).html()));
        });
        var theForm = $("#frmUser");
        $("a.paging").on('click', function (ev) {
            Pace.restart()
            $("#saveBtn").prop('disabled', true);
            var id = $(this).attr('id')
            var formData = theForm.serializeJSON();
            var userId=$("#user").val()
            $.post('/backend/search/financial_passengers/payment_report/'+ userId +'/' + id, formData, function (data) {
                console.log("data", data)
                $("#saveBtn").prop('disabled', false);
                $('.question_content').html(data);
            })
        })
        $('#example2').dataTable({
            paginate: false,
            "order": [1, "desc"],
            "info": false,
            bFilter:false
        });
    });