block pageTitle
    title #{appConfig.app.name} #{appConfig.app.version}
block content
    .table-toolbar
        if data && data.length
            form#frmUser(name='frmUser', method='POST', action='')
                //div تعداد کل نتایج : #{allDataCount}
                table#example2.table.table-bordered.table-hover
                    thead
                        tr
                            th.text-left ردیف
                            th.text-left شناسه
                            th.text-left مسافر
                            th.text-left میزان اعتبار فعلی
                            th.text-left عملیات
                    tbody
                        each row, index in data
                            tr.odd.gradeX
                                td.text-left #{index + 1}
                                td.text-left #{row.id}
                                td.text-left
                                    a(href='/backend/passengers/profile/#{row.id}')
                                        | #{row.full_name || '-'}
                                td.text-left(dir='ltr') #{row.balance}
                                td.text-left
                                    a(href='/backend/financial_passengers/payment_report/#{row.id}') مشاهده جزییات

                //ul(class="pagination")
                //    li(class="paginate_button previous" aria-controls="sample_3" tabindex="0" id="sample_3_previous")
                //        a.paging(href="javascript:;" id="#{pageParams.target - 1}") قبلی
                //
                //        - for (var i = pageParams.start ; i <= pageParams.end ; i++) {
                //
                //        if i == pageParams.target
                //            li(class="paginate_button active " aria-controls="sample_3" tabindex="0")
                //                a.paging(href="javascript:;" id="#{i}") #{i}
                //        else
                //            li(class="paginate_button  " aria-controls="sample_3" tabindex="0")
                //                a.paging(href="javascript:;" id="#{i}") #{i}
                //
                //
                //        -}
                //
                //    li(class="paginate_button next" aria-controls="sample_3" tabindex="0" id="sample_3_next")
                //        a.paging(href="javascript:;" id="#{pageParams.target + 1}") بعدی
        else
            h1 هنوز رکوردی تعریف نگردیده است

script.
    jQuery(document).ready(function () {
        var theForm = $("#frmUser");
        $("a.paging").on('click', function (ev) {
            Pace.restart()
            $("#saveBtn").prop('disabled', true);
            var id = $(this).attr('id')
            var formData = theForm.serializeJSON();
            $.post('/backend/search/financial_passengers/' + id, formData, function (data) {
                console.log("data", data)
                $("#saveBtn").prop('disabled', false);
                $('.question_content').html(data);
            })
        })
        $('#example2').dataTable({
            paginate: true,
            "pagingType": "full_numbers",
            "language": {
                "paginate": {
                    "first": "<span class='fa fa-angle-double-right'></span>",
                    "last": "<span class='fa fa-angle-double-left'></span>",
                    "previous": "<span class='fa fa-angle-right'></span>",
                    "next": "<span class='fa fa-angle-left'></span>"
                }
            },
            "order": [0, "desc"],
            "info": false,
            "bFilter": false,
            "bSort": false
        });
    });