extends ../layout

block pageTitle
    title #{appConfig.app.name} #{appConfig.app.version}
block content
    // BEGIN CONTENT
    .page-content-wrapper
        .page-content

            // BEGIN PAGE HEADER
            .row
                .col-md-12
                    // BEGIN PAGE TITLE & BREADCRUMB
                    h3
                        | رانندگان تایید شده
                    ul.page-breadcrumb.breadcrumb
                        li
                            i.fa.fa-home
                            a(href='/backend/dashboard') &nbsp; صفحه اصلی
                            i.fa.fa-angle-left
                        li
                            a(href='javascript:;') مدیریت رانندگان
                            i.fa.fa-angle-left
                        li
                            a(href='javascript:;') رانندگان تایید شده
                    // END PAGE TITLE & BREADCRUMB
            // END PAGE HEADER



            // BEGIN DASHBOARD STATS
            .row
                .col-md-12
                    // BEGIN EXAMPLE TABLE PORTLET
                    .portlet.box.blue-chambray.tasks-widget
                        .portlet-title
                            .tools
                                a.collapse(href='javascript:;')
                                a.config(href='#portlet-config', data-toggle='modal')
                                a.reload(href='javascript:;')
                                a.remove(href='javascript:;')
                        .portlet-body
                            .task-content
                                .table-toolbar
                                    form#frmUser(name='frmUser', method='POST', action='')
                                        .form-body
                                            .row
                                                .col-md-3
                                                    .form-group
                                                        input.form-control.text-left(name='start_rate' placeholder="از امتیاز" style="font-size:12px")
                                                .col-md-3
                                                    .form-group
                                                        input.form-control.text-left(name='end_rate' placeholder="تا امتیاز" style="font-size:12px")
                                                .col-md-3
                                                    .form-group
                                                        select#state.form-control.text-left(name='situation_id' style="font-size:12px")
                                                            option(value='null') وضعیت
                                                            option(value='1') فعال
                                                            option(value='2') غیر فعال
                                                .col-md-3
                                                    .form-group
                                                        input#mobile.form-control.text-left(name='special_code' placeholder="کد اختصاصی" style="font-size:12px")
                                            .row
                                                .col-md-3
                                                    .form-group
                                                        input.form-control.text-left(name='fullname' placeholder="نام و نام خانوادگی" style="font-size:12px")
                                                .col-md-3
                                                    .form-group
                                                        input.form-control.text-left(name='mobile' placeholder="شماره موبایل" style="font-size:12px")
                                                .col-md-3
                                                    .form-group
                                                        select.form-control.text-left(name='city_id' style="font-size:12px")
                                                            option(value='null') شهر
                                                            each row,index in cityList
                                                                option(value='#{row.id}') #{row.name}
                                            .row
                                                .col-md-3
                                                    .form-group
                                                        input(type="button" value="جستجو" class="btn btn-large green " id="saveBtn")
                                                .col-md-3
                                                    .form-group
                                                        input(type="button" value="خروجی اکسل" class="btn btn-large blue-madison " id="excel")
                                                .col-md-3
                                                    .form-group
                                                        a.menu-sub(class="btn btn-large blue-madison " id="cars" href='/backend/verified_drivers/cars') گزارشگیری از فراوانی خودروها
                                        hr
                                .question_content(style='margin-top:60px')
                                    if userList && userList.length
                                        form#frmUser(name='frmUser', method='POST', action='')
                                            #mapModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true' style='height:100%;width:100%;')
                                                div#map(style="width: 400px;height: 400px;").gmaps
                                            //div تعداد کل نتایج : #{userList.length}
                                            table#example.table.table-bordered.table-hover
                                                thead
                                                    tr
                                                        th.text-left ردیف
                                                        th.text-left کد اختصاصی
                                                        th.text-left نام و نام خانوادگی
                                                        th.text-left کد معرف
                                                        th.text-left موبایل
                                                        th.text-left خودرو
                                                        th.text-left امتیاز
                                                        th.text-left دفعات پذیرش سفر
                                                        th.text-left شهر
                                                        th.text-left عملیات

                                                tbody
                                                    each row, index in userList
                                                        tr.odd.gradeX
                                                            td.text-left #{row.id}
                                                            td.text-left #{row.serviceProviderProfile.special_code}
                                                            td.text-left
                                                                a.menu-sub(href='/backend/verified_drivers/profile?id=#{row.id}')
                                                                    | #{row.serviceProviderProfile.first_name} #{row.serviceProviderProfile.last_name}
                                                            td.text-left #{row.serviceProviderProfile.representer_code||"-"}
                                                            td.text-left #{row.mobile}
                                                            td.text-left(style="width:85px")
                                                                - var value= row.serviceProviderProfile.serviceProviderSpecialInfo.vehicleBrand || {name:"نا مشخص"}
                                                                - (value.name!='نا مشخص'?value.name+=row.serviceProviderProfile.serviceProviderSpecialInfo.vehicleModel.name:"")
                                                                | #{value.name}
                                                            td.text-left
                                                                - var rate=parseInt(row.serviceProviderProfile.sum_rate)/(parseInt(row.serviceProviderProfile.rate_count)==0?1:parseInt(row.serviceProviderProfile.rate_count))
                                                                | #{Math.floor(rate)}
                                                            td.text-left #{row.serviceProviderProfile.sum_trip_counts}
                                                            td.text-left
                                                                - var value = row.serviceProviderProfile.city || {name:"نا مشخص"}
                                                                | #{value.name}
                                                            td.text-left(style="width:120px")
                                                                if row.serviceProviderProfile.current_situation_id > 1
                                                                    a.location.menu-sub(href="/backend/verified_drivers/see_online_driver/#{row.id}" style="margin-left:5px")
                                                                        span.fa.fa-map-marker.fa-lg.has_tooltip(title="مشاهده موقعیت راننده روی نقشه")

                                                                a.menu-sub(href='/backend/verified_drivers/see_messages?id=#{row.id}' style='margin-left:20px;' title='نظرات مربوط به این راننده')
                                                                    span.fa.fa-envelope-o.fa-lg.has_tooltip(title="ارسال پیام")
                                                                a.menu-sub.target(href="javascript:;" id="#{row.id}" state="#{row.userSituation.id}")
                                                                    if row.userSituation.id == 1
                                                                        input.mine(type='checkbox',checked='checked', data-on-color='success', data-on-text='فعال', data-off-color='danger', data-off-text='غیر فعال', data-size='normal', name='my-checkbox')
                                                                    else
                                                                        input.mine(type='checkbox', data-on-color='success', data-on-text='فعال', data-off-color='danger', data-off-text='غیر فعال', data-size='normal', name='my-checkbox')


                                            //ul(class="pagination")
                                            //  li(class="paginate_button previous" aria-controls="sample_3" tabindex="0" id="sample_3_previous")
                                            //    a.paging(href="javascript:;" id="#{pageParams.target - 1}") قبلی
                                            //
                                            //    - for (var i = pageParams.start ; i <= pageParams.end ; i++) {
                                            //
                                            //    if i == pageParams.target
                                            //      li(class="paginate_button active " aria-controls="sample_3" tabindex="0")
                                            //        a.paging(href="javascript:;" id="#{i}") #{i}
                                            //    else
                                            //      li(class="paginate_button  " aria-controls="sample_3" tabindex="0")
                                            //        a.paging(href="javascript:;" id="#{i}") #{i}
                                            //
                                            //
                                            //    -}
                                            //
                                            //  li(class="paginate_button next" aria-controls="sample_3" tabindex="0" id="sample_3_next")
                                            //    a.paging(href="javascript:;" id="#{pageParams.target + 1}") بعدی
                                    else
                                        h1 هنوز رکوردی تعریف نگردیده است


    // END CONTENT
block cssHeader
    link(href="/metronic_rtl/assets/global/plugins/select2/select2-rtl.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet" type="text/css" href="/metronic_rtl/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap-rtl.css")
    link(href="/metronic_rtl/assets/admin/pages/css/tasks-rtl-table.css", rel="stylesheet", type="text/css")

block append jsHeader
    // BEGIN PAGE LEVEL PLUGINS
    script(type='text/javascript', src='/metronic_rtl/assets/global/plugins/select2/select2.min.js')
    script(type='text/javascript', src='/metronic_rtl/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='/metronic_rtl/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')
    // END PAGE LEVEL PLUGINS

    // BEGIN PAGE LEVEL SCRIPTS
    script(src='/metronic_rtl/assets/admin/pages/scripts/table-managed.js')
    script(type='text/javascript', src='/metronic_rtl/assets/admin/pages/scripts/tasks-table.js')
    script.
        jQuery(document).ready(function () {
            setTimeout(function () {
                $(".mine").each(function () {
                    $(this).bootstrapSwitch();
                })
            }, 100)
            var theForm = $("#frmUser");
            $('#saveBtn').on('click', function (event) {
                Pace.restart()
                event.preventDefault();
                $("#saveBtn").prop('disabled', true);
                var formData = theForm.serializeJSON();
                $.post('/backend/search/verified_drivers/1', formData, function (data) {
                    $('.question_content').html(data);
                })
                $(document).ajaxStop(function () {
                    $("#saveBtn").prop('disabled', false);
                });
            });

            $("a:not(.menu-sub,.ah-pro)").on('click', function (ev) {
                Pace.restart()
                $("#saveBtn").prop('disabled', true);
                var id = $(this).attr('id')
                var formData = theForm.serializeJSON();
                $.post('/backend/search/verified_drivers/' + id, formData, function (data) {
                    console.log("data", data)
                    $("#saveBtn").prop('disabled', false);
                    $('.question_content').html(data);
                })
            })
            $(".target").on('click', function (event) {
                event.preventDefault()
                var state = $(this).attr('state')
                console.log("state", state)
                var id = $(this).attr('id')
                var newState = (state == '1' ? '2' : '1')
                $(this).attr('state', newState)
                $.post("/backend/change_state/User/" + id, {newState: newState}, function (data) {
                    console.log("data", data)
                })
            })
            $("#excel").click(function (e) {
                e.preventDefault();
                notyfy({
                    force: true,
                    timeout: true,
                    text: "در حال بارگذاری فایل",
                    type: 'success',
                    layout: 'top',
                    closeWith: ['click']
                });
                var theForm = $("#frmUser");
                var formData = theForm.serializeJSON();
                $.post('/backend/verified_drivers/excel', formData, function (data) {
                    $("#saveBtn").prop('disabled', false);
                    window.location = data
                    $.notyfy.closeAll()
                })
            });
            setTimeout(function () {
                $('#example').dataTable({
                    paginate: true,
                    "pagingType": "full_numbers",
                    "language": {
                        "paginate": {
                            "first": "<span class='fa fa-angle-double-right'></span>",
                            "last": "<span class='fa fa-angle-double-left'></span>",
                            "previous": "<span class='fa fa-angle-right'></span>",
                            "next": "<span class='fa fa-angle-left'></span>"
                        }
                    },
                    "order": [0, "desc"],
                    "info": false,
                    "bFilter": false
                });
            }, 500);
        });

