extends ../layout
block pageTitle
    title #{appConfig.app.name} #{appConfig.app.version}
block content
    // BEGIN CONTENT
    .page-content-wrapper
        .page-content


            // BEGIN PAGE HEADER
            .row
                .col-md-12
                    // BEGIN PAGE TITLE & BREADCRUMB
                    h3
                        | تنظیم پارامترهای محاسباتی
                    ul.page-breadcrumb.breadcrumb
                        li
                            i.fa.fa-home
                            a(href='/backend/dashboard') &nbsp; صفحه اصلی
                            i.fa.fa-angle-left
                        li
                            a(href='/backend/financial_passengers') تنظیم پارامترهای محاسباتی

                    // END PAGE TITLE & BREADCRUMB
            // END PAGE HEADER



            // BEGIN DASHBOARD STATS
            .row
                .col-md-12
                    // BEGIN EXAMPLE TABLE PORTLET
                    .portlet.box.blue-chambray.tasks-widget
                        .portlet-title
                            .tools
                                a.collapse(href='javascript:;')
                                a.config(href='#portlet-config', data-toggle='modal')
                                a.reload(href='javascript:;')
                                a.remove(href='javascript:;')
                        .portlet-body
                            .task-content
                                .table-toolbar
                                    .row
                                        .col-md-12
                                            .form-group
                                                a(href='/backend/manage_params/add'  class="btn btn-large green" id="saveBtn") اضافه کردن پارامتر جدید
                                .question_content(style='margin-top:60px')
                                    if data && data.length
                                        form#frmUser(name='frmUser', method='POST', action='')
                                            input#user(type='hidden' value="#{data[0].user_id}")
                                            table#example.table.table-bordered.table-hover
                                                thead
                                                    tr
                                                        th.text-left ردیف
                                                        th.text-left نام تغییر
                                                        th.text-left نوع تغییر
                                                        th.text-left مقدار تغییر
                                                        th.text-left وضعیت
                                                tbody
                                                    each row, index in data
                                                        tr.odd.gradeX
                                                            td.text-left #{row.id}
                                                            td.text-left(dir='ltr') #{row.title}
                                                            td.text-left(dir='ltr') #{row.parameter_type_id == '1' ? 'افزاینده' : 'کاهنده'}
                                                            td.text-left(dir='ltr') #{row.change_amount}
                                                            td.text-left(style='height:25px')
                                                                a.menu-sub.target(href="javascript:;" id="#{row.id}" state="#{row.flag_id }")
                                                                    if row.flag_id == 1
                                                                        input.mine(type='checkbox',checked='checked', data-on-color='success', data-on-text='فعال', data-off-color='danger', data-off-text='غیر فعال', data-size='normal', name='my-checkbox')
                                                                    else
                                                                        input.mine(type='checkbox', data-on-color='success', data-on-text='فعال', data-off-color='danger', data-off-text='غیر فعال', data-size='normal', name='my-checkbox')
                                            //ul(class="pagination")
                                            //    li(class="paginate_button previous" aria-controls="sample_3" tabindex="0" id="sample_3_previous")
                                            //        a.paging(href="javascript:;" id="#{pageParams.target - 1}") قبلی
                                            //
                                            //        - for (var i = pageParams.start ; i <= pageParams.end ; i++) {
                                            //
                                            //        if i == pageParams.target
                                            //            li(class="paginate_button active " aria-controls="sample_3" tabindex="0")
                                            //                a.paging(href="javascript:;" id="#{i}") #{i}
                                            //        else
                                            //            li(class="paginate_button  " aria-controls="sample_3" tabindex="0")
                                            //                a.paging(href="javascript:;" id="#{i}") #{i}
                                            //
                                            //
                                            //        -}
                                            //
                                            //    li(class="paginate_button next" aria-controls="sample_3" tabindex="0" id="sample_3_next")
                                            //        a.paging(href="javascript:;" id="#{pageParams.target + 1}") بعدی
                                    else
                                        h1 هنوز رکوردی تعریف نگردیده است
    // END CONTENT
block cssHeader
    link(href="/metronic_rtl/assets/global/plugins/select2/select2-rtl.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet" type="text/css" href="/metronic_rtl/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap-rtl.css")
    link(href="/metronic_rtl/assets/admin/pages/css/tasks-rtl-table.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet" type="text/css" href="/javascripts/persianDatepicker/css/persianDatepicker-default.css")

block append jsHeader
    // BEGIN PAGE LEVEL PLUGINS
    script(type="text/javascript" src="/javascripts/persianDatepicker/js/persianDatepicker.min.js")
    script(type='text/javascript', src='/metronic_rtl/assets/global/plugins/select2/select2.min.js')
    script(type='text/javascript', src='/metronic_rtl/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='/metronic_rtl/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')
    // END PAGE LEVEL PLUGINS

    // BEGIN PAGE LEVEL SCRIPTS
    script(src='/metronic_rtl/assets/admin/pages/scripts/table-managed.js')
    script(type='text/javascript', src='/metronic_rtl/assets/admin/pages/scripts/tasks-table.js')

    script.
        jQuery(document).ready(function () {
            setTimeout(function () {
                $(".mine").each(function () {
                    $(this).bootstrapSwitch();
                })
            }, 100)
            $("a.paging").on('click', function (ev) {
                Pace.restart()
                $("#saveBtn").prop('disabled', true);
                var id = $(this).attr('id')
                $.post('/backend/search/manage_params/' + id, {}, function (data) {
                    console.log("data", data)
                    $("#saveBtn").prop('disabled', false);
                    $('.question_content').html(data);
                })
            })
            $(".target").on('click', function (event) {
                event.preventDefault()
                var state = $(this).attr('state')
                console.log("state", state)
                var id = $(this).attr('id')
                var newState = (state == '1' ? '2' : '1')
                $(this).attr('state', newState)
                $.post("/backend/change_flag/TripPriceParameters/" + id, {newState: newState}, function (data) {
                    console.log("data", data)
                })
            })
            setTimeout(function () {
                $('#example').dataTable({
                    paginate: true,
                    "pagingType": "full_numbers",
                    "language": {
                        "paginate": {
                            "first": "<span class='fa fa-angle-double-right'></span>",
                            "last": "<span class='fa fa-angle-double-left'></span>",
                            "previous": "<span class='fa fa-angle-right'></span>",
                            "next": "<span class='fa fa-angle-left'></span>"
                        }
                    },
                    "order": [1, "desc"],
                    "info": false,
                    "bFilter": false
                });
            }, 500)
        });



