extends ../layout
block pageTitle
    title #{appConfig.app.name} #{appConfig.app.version}
block content
    // BEGIN CONTENT
    .page-content-wrapper
        .page-content
            // BEGIN PAGE HEADER
            .row
                .col-md-12
                    // BEGIN PAGE TITLE & BREADCRUMB
                    h3
                        | جزئیات بازخورد
                    ul.page-breadcrumb.breadcrumb
                        li
                            i.fa.fa-home
                            a(href='/backend/dashboard') &nbsp; صفحه اصلی
                            i.fa.fa-angle-left
                        li
                            a(href='javascript:;') پشتیبانی
                            i.fa.fa-angle-left
                        li
                            a(href='/backend/feedback/profile/#{profile.id}') جزئیات بازخورد
                    // END PAGE TITLE & BREADCRUMB
            // END PAGE HEADER
            // BEGIN DASHBOARD STATS
            .row
                .col-md-12
                    // BEGIN EXAMPLE TABLE PORTLET
                    .portlet.box.blue-chambray
                        .portlet-title
                            .caption
                                |  جزئیات بازخورد
                            .tools
                                a.collapse(href='javascript:;')
                                a.config(href='#portlet-config', data-toggle='modal')
                                a.reload(href='javascript:;')
                                a.remove(href='javascript:;')
                        .portlet-body.form
                            // BEGIN FORM
                            form#frmUser.horizontal-form(name='frmUser', method='POST', action='')
                                input#user(type='hidden' value='#{profile.sender_id}')
                                input#type(type='hidden' value='#{profile.trip_id?5:4}')
                                div(class="modal fade" id="myModal" role="dialog" )
                                    div(class="modal-dialog")
                                        div(class="modal-content")
                                            div(class="modal-header")
                                                button(type="button" class="close" data-dismiss="modal")
                                                h4(class="modal-title")
                                            div(class="modal-body" id="mybody2")
                                                form.horizontal-form()
                                                    .form-body
                                                        .row
                                                            .col-md-6
                                                                .form-group
                                                                    label عنوان
                                                                    input.form-control(id="title" type='text')
                                                        .row
                                                            .col-md-12
                                                                .form-group
                                                                    label متن
                                                                    textarea.form-control(type='text' rows='10' id="description")
                                                        .row
                                                            .col-md-2
                                                                .form-group
                                                                    label &nbsp
                                                                    input#confirm.form-control(type="button" value="ارسال" class="btn btn-large green ")
                                .form-body
                                    .row
                                        .col-md-12
                                            .form-group
                                                label موضوع
                                                br
                                                input.form-control.text-left(name='fullname', type='text', data-req="true",value="#{profile.supportMessageSubject.name || '-'}",style="font-size:18px" disabled)
                                    .row
                                        .col-md-12
                                            .form-group
                                                label تاریخ
                                                br
                                                if profile.createdAt
                                                    span.g2j.form-control.text-left(data-req="true",style="font-size:18px" disabled) #{profile.createdAt || '-'}
                                                else
                                                    | -
                                    .row
                                        .col-md-12
                                            .form-group
                                                label متن
                                                br
                                                textarea.form-control.text-left(name='fullname', type='text', data-req="true",style="font-size:18px" disabled) #{profile.message_body}
                                    .row
                                        .col-md-4
                                            a#sendRes.btn.green(href='javascript:;')
                                                | &nbsp; ارسال پاسخ
// END CONTENT
block cssHeader
    link(rel="stylesheet" type="text/css" href="/metronic_rtl/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")
    link(rel="stylesheet" type="text/css" href="/javascripts/persianDatepicker/css/persianDatepicker-default.css")

block jsHeader
    // BEGIN PAGE LEVEL PLUGINS
    script(type="text/javascript" src="/javascripts/persianDatepicker/js/persianDatepicker.min.js")
    script(type="text/javascript" src="/metronic_rtl/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js")


    // END PAGE LEVEL PLUGINS
    // BEGIN PAGE LEVEL SCRIPTS
    script.
        jQuery(document).ready(function () {
            $("#sendRes").on('click', function () {
               $('#myModal').modal('toggle')
                $("#confirm").on('click',function(){
                    $('#myModal').modal('toggle')
                    var body={};
                    body.user_id=$("#user").val()
                    body.title=$("#title").val();
                    body.description=$("#description").val();
                    body.type_id=$("#type").val();
                    $.post('/backend/feedback/send_res',body,function(data){
                        window.location='/backend/feedback/'+(body.type_id==4?'drivers':'passengers')
                    })
                })
            })
            $('.g2j').each(function (i, el) {
                $(el).html(g2j($(el).html()));
            });

            $('.itIsDatePicker').persianDatepicker({
                formatDate: "YYYY/MM/DD",
                fontSize: 12,
                selectedBefore: false
            });

            $("#decline").on('click', function (event) {
                event.preventDefault()
                $("#myModal").modal();
                var id = $(this).attr('driver_id');
                $("#yes").on('click', function (ev) {
                    ev.preventDefault()
                    $("#yes").prop('disabled', true);
                    $.post("/backend/change_state/User/" + id, {newState: 4}, function (data) {
                        console.log("data", data)
                        window.location = '/backend/passengers';
                    })
                })
            })
            $("#accept").on('click', function (event) {
                event.preventDefault();
                var id = $(this).attr('driver_id')
                window.location = '/backend/passengers/set_meeting/' + id
            })
            $("#setMeeting").on('click', function (event) {
                event.preventDefault();
                $("#myModal2").modal('toggle');
                $("#confirm").on('click', function (event) {
                    event.preventDefault()
                    var date = $("#visit_date").val();
                    var id = $(this).attr('driver_id');
                    $.post('/backend/passengers/set_meeting/' + id, {date: date}, function (data) {
                        console.log("date", date)
                        $("#myModal2").modal('toggle');
                        frmShowSuccess({'ALL': "قرار حضوری با موفقیت ثبت شد"})
                    })
                })
            })
        });